.git
.github
.devcontainer
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
tests
docs
*.md
docker-compose.yml
Dockerfile.local
.env
.env.*
!.env.railway.example
